# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
.sass-cache/
*.css.map

# Environment
.env
.env.local
.env.*.local